
@{
    ViewBag.Title = "Index";
}
<div ng-app="rpa1" ng-cloak ng-controller="resultController" ng-init="init('@ViewBag.reqId');">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>
                        <h3>Request: {{request.title}}</h3>
                    </td>
                    <td><h4>&nbsp; Run date and time: &nbsp;</h4></td>
                    <td>
                        <select class="form-control" ng-model="selRes">
                            <option ng-repeat="res in response" value="{{res._id}}">{{res.runDate}}</option>
                        </select>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="doResponseDetail()">Show</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>isBuyNow</th>
                        <th>Price</th>
                        <th>Bids Count</th>
                        <th>Ending Time</th>
                        <th>Link</th>
                        <th>Posted Date</th>
                        <th>Returns</th>
                        <th>Conditions</th>
                        <th>Page No</th>
                        <th>Row No</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rd in responseDetail">
                        <td>{{$index+1}}</td>
                        <td>{{rd.title}}</td>
                        <td>{{rd.isBuyNow}}</td>
                        <td>{{rd.price}}</td>
                        <td>{{rd.bidsCount}}</td>
                        <td>{{rd.endingTime}}</td>
                        <td><a href="{{rd.url}}" target="_blank">{{rd.url}}</a></td>
                        <td>{{rd.datePosted}}</td>
                        <td>{{rd.returns}}</td>
                        <td>{{rd.condition}}</td>
                        <td>{{rd.pageNo}}</td>
                        <td>{{rd.rowNo}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


