
@{
    ViewBag.Title = "Index";
}

<h2>Result</h2>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="selRequest">Request</label>
            <select class="form-control" id="selRequest">
                <option value="0">PEN Drive - 10 am</option>
                <option value="1">Financial Data - 2 pm</option>
                <option value="2">Health Data - 8 pm</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="selResponse">Response</label>

            <select class="form-control" id="selResponse">
                <option value="0">PEN Drive - 19-May-2017 10 am</option>
                <option value="0">PEN Drive - 20-May-2017 10 am</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>isBuyNow</th>
                    <th>Price</th>
                    <th>Bids Count</th>
                    <th>Ending Time</th>
                    <th>Link</th>
                    <th>Posted Date</th>
                    <th>Returns</th>
                    <th>Conditions</th>
                    <th>Page No</th>
                    <th>Row No</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                <tr>
                    <td>Sony 16gb PEN drive</td>
                    <td>Yes</td>
                    <td>$5</td>
                    <td>20</td>
                    <td>25-May-2017</td>
                    <td><a href="#">www.ebay.com</a></td>
                    <td>25-May-2017</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
            </tbody>
        </table>
    </div>
  
</div>

