.imgSmall {
    height: 40px;
    width: 40px;
}

.selected {
    font-weight: bold;
    background-color: #fec558;
    color: black;
}

.labelPrimary {
    text-align: right;
    color: #101215;
}

.labelInfo {
    text-align: right;
    color: #1caf9a;
}

.labelDanger {
    text-align: right;
    color: #e04b4a;
}

.labelWarning {
    text-align: right;
    color: #fe970a;
}

.labelSuccess {
    text-align: right;
    color: #95b75d;
}

.tableEdit {
    width:100%;

}

.tableEdit tr td, .tableEdit tbody tr td  {
    padding: 5px;
}

.tableEdit thead tr th {
    padding: 5px;
    background-color: #95b75d;
    color: #fff;
}