.imgSmall {
    height: 40px;
    width: 40px;
}

.selected {
    font-weight: bold;
    background-color: #fec558;
    color: black;
}

.labelPrimary {
    color: #101215;
}

.labelInfo {
    color: #1caf9a;
}

.labelDanger {
    color: #e04b4a;
}

.labelWarning {
    color: #fe970a;
}

.labelSuccess {
    color: #95b75d;
}