@{
    ViewBag.Title = "LOV";
}
<input type="hidden" id="hidSelMenu" value="liPageLov" />
<input type="hidden" id="hidSelUser" value="000" />

<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Company</a></li>
    <li class="active">Users</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!--USER TABLE -->
    <div class="row" id="divList">
        <div class="col-md-8" id="divTable">
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span> @ViewBag.Title</h2>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button id="btnLovNew" type="button" class="btn btn-primary">New Item</button>
                    <button id="btnLovEdit" type="button" class="btn btn-info">Edit</button>
                    <button id="btnLovDelete" type="button" class="btn btn-danger">Delete</button>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="list-group" id="divLovGrp">
                                <a href="javascript:changeLovData(0);" class="list-group-item active">Designation</a>
                                <a href="javascript:changeLovData(1);" class="list-group-item">Department</a>
                                <a href="javascript:changeLovData(2);" class="list-group-item">Office type</a>
                                <a href="javascript:changeLovData(3);" class="list-group-item">Govt code</a>
                                <a href="javascript:changeLovData(4);" class="list-group-item">User type</a>
                                <a href="javascript:changeLovData(5);" class="list-group-item">Order type</a>
                                <a href="javascript:changeLovData(6);" class="list-group-item">Order status</a>
                                <a href="javascript:changeLovData(7);" class="list-group-item">PO detail type</a>
                                <a href="javascript:changeLovData(8);" class="list-group-item">Job card status</a>
                                <a href="javascript:changeLovData(9);" class="list-group-item">Contact type</a>
                                <a href="javascript:changeLovData(10);" class="list-group-item">Person govt code</a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <table class="table DataTable" id="tblLov">
                                <thead>
                                    <tr>
                                        <th width="20%">Item</th>
                                        <th width="30%">Flag</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--LOV UPDATE PANEL -->
        <div class="col-md-4" id="divUpdate">
            <div class="block">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><span class="fa fa-arrow-circle-o-left"></span> Item details</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form" action="#" role="form" id="frmLov">
                            <table class="tableEdit">
                                <tr>
                                    <td class="labelDanger" style="width:150px;">Item name /</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" id="txtTitle" class="form-control" placeholder="Item Name" data-toggle="tooltip" data-placement="left" title="Item Name" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <button id="btnLovUpdateCancel" class="btn btn-link pull-right">Cancel</button>
                        <button id="btnLovUpdateSave" class="btn btn-primary pull-right">Save Changes <span class="fa fa-floppy-o fa-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
