@{
    ViewBag.Title = "Purchase Order";
}
<input type="hidden" id="hidSelMenu" value="liPagePO" />
<input type="hidden" id="hidSelUser" value="000" />

<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Customer</a></li>
    <li class="active">Purchase Order</li>
</ul>

<div class="page-content-wrap">
    <!--PO TABLE -->
    <div class="row" id="divList">
        <div class="col-md-6" id="divTable">
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span> @ViewBag.Title</h2>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button id="btnPONew" type="button" class="btn btn-primary">New PO</button>
                    <button id="btnPOEdit" type="button" class="btn btn-info">Edit</button>
                    <button id="btnPODelete" type="button" class="btn btn-danger">Delete</button>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>

                <div class="panel-body">
                    <table class="table DataTable" id="tblPO">
                        <thead>
                            <tr>
                                <th width="10%">Status</th>
                                <th width="20%">Invoice #</th>
                                <th width="30%">Customer</th>
                                <th width="15%">Order Date</th>
                                <th width="15%">Delivery Date</th>
                                <th width="10%">Type</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--LOV UPDATE PANEL -->
        <div class="col-md-6">
            <iframe src="~/Home/GetPo?id=1" style="width:100%; height:800px;"></iframe>
        </div>
    </div>

    <!--UPDATE PANEL -->
    <div class="row" id="divUpdate">

        <div class="col-md-6">
            <div class="page-title">
                <h2><span class="fa fa-arrow-circle-o-left"></span> New @ViewBag.Title</h2>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button id="btnPONewSave" type="button" class="btn btn-primary">Save New PO</button>
                    <button id="btnPONewCancel" type="button" class="btn btn-danger">Cancel</button>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">

                    <!-- PO HEADER -->
                    <table class="tableEdit" border="0">
                        <tr>
                            <td class="labelDanger" style="width:34%;">Customer /</td>
                            <td class="labelDanger" style="width:33%;">Invoice # /</td>
                            <td class="labelDanger" style="width:33%;">Quantity /</td>

                        </tr>
                        <tr>
                            <td>
                                <select id="selCustomer" class="form-control select">
                                    <option value="0" selected="selected">Not Set</option>
                                    <option value="1">Customer 1</option>
                                    <option value="2">Customer 2</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtInvoiceNo" placeholder="Invoice #" />
                            </td>
                            <td>
                                <input type="text" class="form-control" id="txtQty" placeholder="Quantity" />
                            </td>
                        </tr>
                        <tr>
                            <td class="labelDanger" style="width:34%;">Order date /</td>
                            <td class="labelDanger" style="width:33%;">Delivery date /</td>
                            <td class="labelDanger" style="width:33%;">Target date /</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="txtDateOrder" class="form-control datepicker" placeholder="Order Date" value="" data-date="" data-date-format="dd-mm-yyyy" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="txtDateDelivery" class="form-control datepicker" placeholder="Delivery Date" value="" data-date="" data-date-format="dd-mm-yyyy" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="text" id="txtDateTarget" class="form-control datepicker" placeholder="Target Date" value="" data-date="" data-date-format="dd-mm-yyyy" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h3>Shipping Details</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="text" class="form-control" id="txtShipAddress1" placeholder="Address 1" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input type="text" class="form-control" id="txtShipAddress2" placeholder="Address 2" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <div id="treeShipGeoLoc"></div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h3>Order Type</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <select id="selOrderType" class="form-control select">
                                    <option value="0" selected="selected">Not Set</option>
                                    <option value="1">Type 1</option>
                                    <option value="2">Type 2</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h3>Order Styles</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="active">
                                            <th colspan="3">
                                                <select id="selStyle" class="form-control select">
                                                </select>
                                            </th>
                                          
                                            <th>
                                                <ul class="panel-controls">
                                                    <li><a href="javascript:addPoStyle();" class="control-primary"><span class="fa fa-plus"></span></a></li>
                                                </ul>
                                            </th>
                                        </tr>
                                        <tr class="warning">
                                            <th style="width:35%; color:#000;">Style</th>
                                            <th style="width:15%; color:#000;">Qty</th>
                                            <th style="width:35%; color:#000;">Size</th>
                                            <th style="width:15%; color:#000;">Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblPoStyle">
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h3>Materials</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="warning">
                                            <th style="width:25%; color:#000;">Style</th>
                                            <th style="width:25%; color:#000;">Material</th>
                                            <th style="width:35%; color:#000;">Notes</th>
                                            <th style="width:15%; color:#000;">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblPoMaterial">
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h3>Internal Details</h3>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr class="active">
                                            <th colspan="3">
                                              <table style="width:100%;">
                                                  <tr>
                                                      <td>
                                                          <select id="selInternalType" class="form-control select"></select>
                                                      </td>
                                                      <td>
                                                          <input type="text" class="form-control" id="txtInternalNotes" placeholder="Notes" />
                                                      </td>
                                                      <td>
                                                          <select id="selInternalPriority" class="form-control select">
                                                              <option value="0" selected="selected">Not Set</option>
                                                              <option value="High">High</option>
                                                              <option value="Medium">Medium</option>
                                                              <option value="Low">Low</option>
                                                          </select>
                                                      </td>
                                                      <td>
                                                          <ul class="panel-controls">
                                                              <li><a href="javascript:addPoInternal();" class="control-primary"><span class="fa fa-plus"></span></a></li>
                                                          </ul>
                                                      </td>
                                                  </tr>
                                              </table>
                                               
                                            </th>
                                        </tr>
                                        <tr class="warning">
                                            <th style="width:35%; color:#000;">Type</th>
                                            <th style="width:50%; color:#000;">Notes</th>
                                            <th style="width:15%; color:#000;">Priority</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblPoInternal">
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                   
                    </table>

                </div>
            
                <div class="panel-footer">
                    <button id="btnPONewSave2" type="button" class="btn btn-primary">Save New PO</button>
                    <button id="btnPONewCancel2" type="button" class="btn btn-danger">Cancel</button>
                </div>

            </div>
        </div>

        <!--LOV UPDATE PANEL -->
        <div class="col-md-6">
            <iframe src="~/Home/GetPo?id=1" style="width:100%; height:800px;"></iframe>
        </div>




      
    </div>
</div>
