@{
    ViewBag.Title = "User";
}

<input type="hidden" id="hidSelMenu" value="liPageUser" />

<div class="row" id="divList">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" class="btn btn-primary">New User</button>
                <button type="button" class="btn btn-info">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
                <ul class="panel-controls">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <table class="table DataTable" id="tblUser">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Login</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Access</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hidSelUser" value="000" />

<div class="row" id="divAccess">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" id="btnAccessReset" class="btn btn-default panel-controls">Reset</button>
                <button type="button" id="btnAccessSave" class="btn btn-danger panel-controls">Save</button>
                <button type="button" id="btnAccessCancel" class="btn btn-link panel-controls">Cancel</button>

                <ul class="panel-controls">
                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                    <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <center>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img id="acsUserImage" src="../assets/images/users/shameem.jpg" />
                                    <br /><br />
                                    <h3 id="acsUserName">Shameem Ahmed A</h3>
                                    <h4 id="acsUserPhone">9176330322</h4>
                                    <h5 id="acsUserEmail">shameem.net1@gmail.com</h5>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-md-8">
                        <table class="table table-bordered table-striped table-actions">
                            <thead>
                                <tr>
                                    <th>Page</th>
                                    <th>View</th>
                                    <th>Print</th>
                                    <th>Filter</th>
                                    <th>Add</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                    <th>Compare</th>
                                    <th>Reset</th>
                                    <th>Submit</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyAccess"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>