@{
    ViewBag.Title = "User";
}
<input type="hidden" id="hidSelMenu" value="liPageUser" />
<input type="hidden" id="hidSelUser" value="000" />

<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Company</a></li>
    <li class="active">Users</li>
</ul>
<!-- END BREADCRUMB -->
<!-- PAGE TITLE -->
<div class="page-title">
    <h2><span class="fa fa-arrow-circle-o-left"></span> @ViewBag.Title</h2>
</div>
<!-- END PAGE TITLE -->
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!--USER TABLE -->
    <div class="row" id="divList">
        <div class="col-md-9" id="divTable">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button id="btnUserNew" type="button" class="btn btn-primary">New User</button>
                    <button id="btnUserEdit" type="button" class="btn btn-info">Edit</button>
                    <button id="btnUserDelete" type="button" class="btn btn-danger">Delete</button>
                    <button id="btnUserAccess" type="button" class="btn btn-primary">Permissions</button>
                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>

                <div class="panel-body">
                    <table class="table DataTable" id="tblUser">
                        <thead>
                            <tr>
                                <th width="20%">Login</th>
                                <th width="30%">Name</th>
                                <th width="30%">Email</th>
                                <th width="20%">Phone</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--USER UPDATE TABS -->
        <div class="col-md-3" id="divUpdate">
            <div class="block">
                <form class="form" action="#" role="form" id="frmPerson">
                    <div class="panel panel-default tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li id="tabUser" class="active"><a href="#tab-first" role="tab" data-toggle="tab">User</a></li>
                            <li id="tabPerson"><a href="#tab-second" role="tab" data-toggle="tab">Person</a></li>
                            <li id="tabAddress"><a href="#tab-third" role="tab" data-toggle="tab">Address</a></li>
                        </ul>
                        <div class="panel-body tab-content">
                            <div class="tab-pane active" id="tab-first">
                                <!-- USER tab -->
                                <div class="form-group">
                                    <input type="text" id="txtLogin" class="form-control" placeholder="Login Name" data-toggle="tooltip" data-placement="left" title="Login Name" />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txtPwd1" class="form-control" placeholder="Password" data-toggle="tooltip" data-placement="left" title="Password" />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txtPwd2" class="form-control" placeholder="Confirm Password" data-toggle="tooltip" data-placement="left" title="Confirm Password" />
                                </div>
                                <div class="form-group">
                                    <label class="check"><input id="chkAdmin" type="checkbox" class="icheckbox" /> Administrator</label>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-second">
                                <!-- PERSON tab -->
                                <div class="form-group">
                                    <input type="text" class="form-control" id="txtName" placeholder="Full Name" data-toggle="tooltip" data-placement="left" title="Full Name"/>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="text" id="txtEmail" class="form-control" placeholder="Email Address" data-toggle="tooltip" data-placement="left" title="Email Address"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" id="txtPhone" class="form-control" placeholder="Phone" data-toggle="tooltip" data-placement="left" title="Phone"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-facebook"></i></span>
                                        <input type="text" id="txtFacebook" class="form-control" placeholder="Facebook" data-toggle="tooltip" data-placement="left" title="Facebook"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                                        <input type="text" id="txtSkype" class="form-control" placeholder="Skype" data-toggle="tooltip" data-placement="left" title="Skype"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                                        <input type="text" id="txtTwitter" class="form-control" placeholder="Twitter" data-toggle="tooltip" data-placement="left" title="Twitter"/>
                                    </div>
                                </div>

                                <div class="form-group" data-toggle="tooltip" data-placement="left" title="Govt Code">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span id="ulGovtCodeSpan">Action </span><span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" id="ulGovtCode">
                                            </ul>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Govt Code" id="txtGovtCode">
                                    </div>
                                    <input type="hidden" class="form-control" id="ulGovtCodeId">
                                </div>
                              
                                <div class="form-group">
                                    <img id="imgPerson" src="../assets/images/users/no-image.jpg" style="width:100px; height:100px;" />
                                    <input id="filePhoto" type="file" class="fileinput" name="filename1" data-toggle="tooltip" data-placement="left" title="Profile Photo"/>
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="txtDateBirth" class="form-control datepicker" placeholder="Date of birth" value="" data-date="" data-date-format="dd-mm-yyyy" data-toggle="tooltip" data-placement="left" title="Date of birth" />
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="txtDateAnniversary" class="form-control datepicker" value="" placeholder="Date of anniversary" data-date="" data-date-format="dd-mm-yyyy" data-date-viewmode="months" data-toggle="tooltip" data-placement="left" title="Date of anniversary" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>
                                </div>
                                <div class="form-group" data-toggle="tooltip" data-placement="left" title="Gender">
                                    <select id="selGender" class="form-control select">
                                        <option value="0" selected="selected">Not Set</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                    </select>
                                </div>
                                <div class="form-group" data-toggle="tooltip" data-placement="left" title="Marital Status">
                                    <select id="selMStatus" class="form-control select" >
                                        <option value="0" selected="selected">Not Set</option>
                                        <option value="1">Married</option>
                                        <option value="2">Not Married</option>
                                        <option value="3">Widow</option>
                                    </select>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-third">
                                <!-- ADDRESS tab -->
                                <div class="form-group">
                                    <input type="text" id="txtAddress1" class="form-control" placeholder="Address 1" />
                                </div>
                                <div class="form-group">
                                    <input type="text" id="txtAddress2" class="form-control" placeholder="Address 2" />
                                </div>
                                <div class="form-group">
                                    <select id="selCountry" class="form-control select"></select>
                                </div>
                                <div class="form-group">
                                    <select id="selState" class="form-control select"></select>
                                </div>
                                <div class="form-group">
                                    <select id="selCity" class="form-control select"></select>
                                </div>
                                <div class="form-group">
                                    <select id="selArea" class="form-control select"></select>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button id="btnUserUpdateCancel" class="btn btn-link pull-right">Cancel</button>
                            <button id="btnUserUpdateSave" class="btn btn-primary pull-right">Save Changes <span class="fa fa-floppy-o fa-right"></span></button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--USER ACCESS PANEL -->
    <div class="row" id="divAccess">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button type="button" id="btnAccessReset" class="btn btn-default panel-controls">Reset</button>
                    <button type="button" id="btnAccessSave" class="btn btn-danger panel-controls">Save</button>
                    <button type="button" id="btnAccessCancel" class="btn btn-link panel-controls">Cancel</button>

                    <ul class="panel-controls">
                        <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                        <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <center>
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <img id="acsUserImage" src="../assets/images/users/shameem.jpg" />
                                        <br /><br />
                                        <h3 id="acsUserName">Shameem Ahmed A</h3>
                                        <h4 id="acsUserPhone">9176330322</h4>
                                        <h5 id="acsUserEmail">shameem.net1@gmail.com</h5>
                                    </div>
                                </div>
                            </center>
                        </div>
                        <div class="col-md-8">
                            <table class="table table-bordered table-striped table-actions">
                                <thead>
                                    <tr>
                                        <th>Page</th>
                                        <th>View</th>
                                        <th>Print</th>
                                        <th>Filter</th>
                                        <th>Add</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Compare</th>
                                        <th>Reset</th>
                                        <th>Submit</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyAccess"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
