<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="sFolder"  value="C:\RPAFAISAL\"/>
    <add key="sUiPathFolder" value="C:\Users\admin\AppData\Local\UiPath\app-2017.1.6309.33850" />
    <add key="sRoboPath" value="C:\Shameem\Projects\RPAFaisal\EbayBot\EbayBot\Main.xaml" />
    
    <add key="mongoUrl" value="mongodb://localhost:27017"/>
    <add key="mongoDb" value="rpa1db"/>
  </appSettings>
</configuration>

