<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add value="sFolder" key="C:\RPAFAISAL\"/>
    <add value="sUiPathFolder" key="C:\Users\admin\AppData\Local\UiPath\app-2017.1.6309.33850"/>
    <add value="sRoboPath" key="C:\Shameem\Projects\RPAFaisal\EbayBot\EbayBot\Main.xaml"/>
    <add value="mongoUrl" key="mongodb://localhost:27017"/>
    <add value="mongoDb" key="rpa1db"/>
  </appSettings>
</configuration>

